.site-section .about-content{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.about-content .content-1-wrapper{
    width: 120%;
    margin-right: 5rem;

}

.about-content .content-2-wrapper .about-desc p {
    text-align: justify;

}
#team-section .our-team-container {
    display: flex;
    flex-flow: column;
    
    align-items: center;
}
#team-section .our-team-container .content-list-wrapper {
    display: flex;
    flex-flow: row;
    
}
#team-section .our-team-container .content-list-wrapper .team-member{
    padding: 1rem;
    
}
#team-section .our-team-container .content-list-wrapper .team-member .person #team-desc{
    text-align: justify;
    
}